
.titulos_slider{
	color:white;
}
.texto-login{
	color: white;
}
.textoblanco{
	color:white;
}
#page-title {
	position: relative;
	padding: 50px 0;
	background-color: #CECECE;
	border-bottom: 1px solid #EEE;
}
.titulo-morado {

	background-color: #A60844 !important;

}
